<div class="example-container">
  <h2>To Do List</h2>
  <div cdkDropList #toDoItemList="cdkDropList" [cdkDropListData]="toDoItems" [cdkDropListConnectedTo]="[doneItemList]"
    class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of toDoItems" cdkDrag>{{item.name}} <button mat-mini-fab
        (click)="deleteToDoItem(item.id)">
        X
      </button></div>
  </div>
  <form (ngSubmit)="addToDoItem()">
    <input type="text" [(ngModel)]="newToDoTaskItem.name" placeholder="Item" name="toDoItemName" />
    <button type="submit">+</button>
  </form>
</div>



<div class="example-container">
  <h2>Done List</h2>
  <div cdkDropList #doneItemList="cdkDropList" [cdkDropListData]="doneItems" [cdkDropListConnectedTo]="[toDoItemList]"
    class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of doneItems" cdkDrag>{{item.name}} <button mat-mini-fab
        (click)="deleteToDoItem(item.id)">
        X
      </button> </div>
  </div>

  <form (ngSubmit)="addDoneItem()">
    <input type="text" [(ngModel)]="newDoneTaskItem.name" placeholder="Item" name="doneItemName" />
    <button type="submit">+</button>
  </form>
</div>


<div class="example-container">
  <h2>To do</h2>

  <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
    class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Done</h2>

  <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
    class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
  </div>
</div>
