<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">First name</label>
        <input type="text" class="form-control" id="firstName" required [(ngModel)]="employee.firstName" name="firstName" />
      </div>

      <div class="form-group">
        <label for="description">Surname</label>
        <input class="form-control" id="surname" required [(ngModel)]="employee.surname" name="surname" />
      </div>

      <div class="form-group">
        <label for="seat">Seat</label>
        <input type="number" class="form-control" id="surname" [(ngModel)]="employee.seat" name="seat" />
      </div>

      <button mat-raised-button (click)="saveEmployee()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Tutorial was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newEmployee()">Add</button>
    </div>
  </div>
</div>
