<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="firstName" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchFirstName()">
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Tutorials List</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let employee of employees; let i = index" [class.active]="i == currentIndex"
        (click)="setActiveEmployee(employee, i)">
        {{ employee.firstName }} {{ employees.surname }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllEmployees()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentEmployee">
      <h4>Employee</h4>
      <div>
        <label><strong>First Name:</strong></label> {{ currentEmployee.firstName }}
      </div>
      <div>
        <label><strong>Surname:</strong></label>
        {{ currentEmployee.surname }}
      </div>
      <div>
        <label><strong>Seat:</strong></label>
        {{ currentEmployee.seat }}
      </div>
      <a mat-raised-button class="badge badge-warning" routerLink="/employees/{{ currentEmployee.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentEmployee">
      <br />
      <p>Please click on an Employee...</p>
    </div>
  </div>
</div>
